<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
<h3>popular tools for data science</h3>
<ul><li>Data management tools<ul><li>Mysql</li><li>postgreSQL</li><li>MongoDB</li></ul></li><li>Data integration and transfromation tools are<ul><li>apache airfolw</li><li>kubeflow</li><li>NodeRED</li></ul></li><li>data visualization tools are<ul><li>pixie dust</li><li>hue</li><li>kibana</li></ul></li> </ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>
        python
    </li>
    <li>
        R
    </li>
    <li>
        Pytorch
    </li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol><li>Pandas</li><li>Numpy</li><li>Matplotlib</li></ol>


| Category       |data science Tools                           |
|----------------|---------------------------------|
| IDEs           | Jupyter Notebook, RStudio       |
| Data Wrangling | OpenRefine, Trifacta Wrangler   |
| Visualization  | Tableau, Power BI, Plotly       |
| Big Data       | Apache Hadoop, Apache Spark     |
| Cloud          | Amazon Web Services, Google Cloud Platform |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [8]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
min=200
hours=min/60 
print(hours)

3.3333333333333335

<h2>author</h2>
surya